h1 {
    color:rgb(61, 49, 170);
    font-family: 'Caveat', cursive;
    font-size: 100px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.area-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#area {
    width: 900px;
    height: 900px;
    background-color: #CDFFFF;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 300px;
    height: 300px;
    border: 1px solid rgb(12, 9, 56);
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
    font-size: 150px;
    color: #B62700;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-result-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(12, 9, 56, 0.6);
}

#model-window {
    width: 300px;
    height: 300px;
    border: 10px solid rgb(12, 9, 56);
    background-color: #e0ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Caveat', cursive;
    color: rgb(0, 52, 150);
    font-size: 80px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

#btn-close {
    width: 280px;
    height: 70px;
    background-color: rgb(187, 241, 150);
    border: 3px solid rgb(61, 21, 21);
    color: rgb(0, 150, 20);
    font-family: 'Caveat', cursive;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}